#navLinks {
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 300 !important;
    color: #212120;
}

@media only screen and (min-width: 1000px) {
    #navLinks a {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    #navLinks a {
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1000px) {
    #signature {
        width: 200px !important;
        height: 75px !important;
        padding-left: 35px;
    }
}

@media only screen and (max-width: 1000px) {
    #signature {
        width: 200px !important;
        height: 75px !important;
    }
}

#banner1 {
    background-color: #f2f1ec;
    -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.35);
}

#banner1:hover {
    background: #f6f5f0;
}

.banner1 a:hover {
    color: #999999;
}

.banner1 a {
    color: #212123;
    text-decoration: none;
}


/* Side banner "Connect With Me" */

@media only screen and (min-width: 1000px) {
    .banner2 {
        height: 3.5vh;
        margin-top: -10px;
        /* margin-bottom: px; */
        background-color: hsl(240, 3%, 24%) !important;
        background-size: cover;
        text-align: center;
        padding: 1px;
        padding-top: 9px;
        height: auto;
        /* padding-top: 9px; */
        color: #fef4eb !important;
        position: fixed;
        -webkit-transform: rotate(-90deg) translateX(-85%);
        -webkit-transform-origin: top left;
        left: 0px;
        top: 50px;
        text-align: center;
        z-index: 999;
        width: 135vh !important;
        letter-spacing: 0.08em;
        font-weight: 300 !important;
    }
}

@media only screen and (min-width: 1000px) {
    .banner2 a:hover {
        color: #999999;
    }
}

@media only screen and (min-width: 1000px) {
    .banner2 a {
        color: #fef4eb;
        text-decoration: none;
    }
}

@media only screen and (max-width: 1000px) {
    .banner2 {
        display: none;
    }
}

h4 {
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-size: 14px !important;
    letter-spacing: 0.15em !important;
    font-weight: 200 !important;
}


/* First Banner Image of Me*/


/* .row row-cols-2 {
    flex-wrap: wrap !important;
    flex-direction: row-reverse !important;
    display: flex !important;
    .container {
        justify-content: center !important;
    }
} */

@media only screen and (min-width: 1000px) {
    #bannerImage1 {
        width: 100%;
    }
}

@media only screen and (max-width: 1000px) {
    #bannerImage1 {
        width: 100%;
    }
}


/* First Banner Text */

#bannerText1 {
    padding: 7%;
}

@media only screen and (min-width: 1700px) {
    #bannerText1 {
        padding-top: 10%;
    }
}

@media only screen and (max-width: 1000px) {
    #bannerText1 {
        padding-bottom: 17%;
    }
}

h1 {
    font-family: freight-display-pro !important;
    font-size: 39px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400 !important;
    color: hsl(240, 3%, 24%);
}

@media only screen and (min-width: 1500px) {
    .headerText1 {
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
        border-bottom: 1px solid hsl(240, 3%, 24%);
    }
}

@media only screen and (max-width: 1500px) {
    .headerText1 {
        text-align: center;
        padding: 40px !important;
        padding-bottom: 50px;
        border-bottom: 1px solid hsl(240, 3%, 24%);
    }
}


/* Start of CSS for second sub heading */

h2 {
    font-family: freight-display-pro;
    font-size: 28px;
    font-weight: 400 !important;
    color: hsl(240, 3%, 24%);
}

@media only screen and (min-width: 1500px) {
    .headerText2 {
        text-align: center;
        padding-top: 50px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 1500px) {
    .headerText2 {
        text-align: center;
        padding: 40px !important;
        padding-bottom: 50px;
    }
}


/* Start of CSS for third sub heading */

h3 {
    font-family: "Karla", sans-serif;
    font-size: 17px;
    font-weight: 100 !important;
    color: hsl(240, 3%, 24%);
    line-height: 1.45em;
}

@media only screen and (min-width: 1500px) {
    .headerText3 {
        text-align: left;
        padding-left: 65px;
        padding-right: 60px;
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 1500px) {
    .headerText3 {
        text-align: center;
        padding: 40px !important;
        padding-bottom: 50px;
    }
}


/* First Color Banner Break */

#firstBreak {
    background-color: #f2f1ec;
    height: 4vh !important;
    padding: 0px;
}


/* First Button in Top Banner Section */

.button1 {
    background-color: #ffffff;
    color: hsl(240, 3%, 24%);
    font-family: freight-display-pro;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.82px;
    padding: 10px 25px;
    border-width: 0.7px !important;
    text-align: center;
    border: 1px solid hsl(240, 3%, 24%) !important;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
}

#firstBannerButton {
    margin-left: 35% !important;
}

.button1:hover {
    background-color: hsl(240, 3%, 24%);
    border: 1px solid hsl(240, 3%, 24%) !important;
    color: white;
    text-decoration: none;
}


/* Projects Section */

@media only screen and (min-width: 1500px) {
    h5 {
        font-family: "Karla", sans-serif;
        font-size: 22px;
        font-weight: 100 !important;
        color: hsl(240, 3%, 24%);
        line-height: 1.3em;
        text-transform: uppercase;
        letter-spacing: 0.08em !important;
        font-weight: 100 !important;
        border-bottom: 1px solid hsl(240, 3%, 24%);
        margin-left: 600px;
        margin-right: 600px;
        padding-bottom: 50px;
        padding-top: 60px;
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 1500px) {
    h5 {
        font-family: "Karla", sans-serif;
        font-size: 22px;
        font-weight: 100 !important;
        color: hsl(240, 3%, 24%);
        line-height: 1.3em;
        text-transform: uppercase;
        letter-spacing: 0.08em !important;
        font-weight: 100 !important;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
        padding-top: 50px;
    }
}

h6 {
    font-family: "Karla", sans-serif;
    font-size: 14px;
    font-weight: 100 !important;
    color: hsl(240, 3%, 24%);
    line-height: 1.54em;
}

@media only screen and (min-width: 1000px) {
    #projectPhoto {
        height: 55vh !important;
        padding-top: 50px;
    }
}

@media only screen and (max-width: 1000px) {
    #projectPhoto {
        height: 90vh !important;
        padding-top: px;
    }
}

@media only screen and (min-width: 1500px) {
    #projectsContainer {
        width: 70%;
        text-align: center;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 1500px) {
    #projectsContainer {
        width: 80%;
        padding-bottom: 60px;
    }
}

#projectInfo {
    padding-bottom: 8% !important;
    padding-top: 3% !important;
}

#projectTitle {
    padding-top: 5% !important;
}

#colDiv {
    padding-bottom: 5% !important;
}


/* Project photo hover effect */

#projectPhoto {
    transition: box-shadow 0.5s, transform 0.5s;
    -webkit-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
    -moz-box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.49);
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.35);
    padding: 0;
}

#projectPhoto:hover {
    transform: translateY(-10px);
    opacity: 0.5;
}


/* Contact Form */

@media only screen and (min-width: 1500px) {
    #contactFormHeader {
        font-family: "Karla", sans-serif;
        font-size: 22px;
        font-weight: 100 !important;
        color: hsl(240, 3%, 24%);
        line-height: 1.3em;
        text-transform: uppercase;
        letter-spacing: 0.08em !important;
        font-weight: 100 !important;
        /* border-bottom: 1px solid hsl(240, 3%, 24%);
    margin-left: 600px;
    margin-right: 600px; */
        padding-bottom: 20px;
        padding-top: 40px !important;
    }
}

@media only screen and (max-width: 1500px) {
    #contactFormHeader {
        font-family: "Karla", sans-serif;
        font-size: 22px;
        font-weight: 100 !important;
        color: hsl(240, 3%, 24%);
        line-height: 1.3em;
        text-transform: uppercase;
        letter-spacing: 0.08em !important;
        font-weight: 100 !important;
        /* border-bottom: 1px solid hsl(240, 3%, 24%);
        margin-left: 600px;
        margin-right: 600px; */
        padding-bottom: 20px;
        margin-top: 10px !important;
    }
}

#contactFormSubHeader {
    font-style: italic;
    padding-bottom: 20px;
}

#contactFormButton {
    background-color: #ffffff !important;
    color: hsl(240, 3%, 24%) !important;
    font-family: freight-display-pro !important;
    font-style: italic !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    letter-spacing: 1.82px !important;
    padding: 10px 25px !important;
    border-width: 0.7px !important;
    text-align: center !important;
    border: 1px solid hsl(240, 3%, 24%) !important;
    border-radius: 0px;
    -webkit-transition-duration: 0.4s !important;
    /* Safari */
    transition-duration: 0.4s !important;
    margin-top: 50px !important;
}

#contactFormButton:hover {
    background-color: hsl(240, 3%, 24%) !important;
    border: 1px solid hsl(240, 3%, 24%) !important;
    color: white !important;
    text-decoration: none !important;
}


/* Back to top button */

#myBtn {
    display: none;
    /* Hidden by default */
    position: sticky;
    /* Fixed/sticky position */
    bottom: 40px;
    /* Place the button at the bottom of the page */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    /* right: 30px; */
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: hsl(240, 3%, 24%);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 10px 25px !important;
    /* Some padding */
    border-radius: 0px;
    /* Rounded corners */
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 300 !important;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

#footerBreak {
    height: 20vh !important;
    margin-bottom: 0px;
    margin-top: 90px;
    background-color: #f2f1ec;
    padding: 50px;
}

#iconDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#socialIcon {
    font-size: 22px;
    margin: 10px;
    padding-top: 25px;
    color: hsl(240, 3%, 24%);
}

#socialIcon:hover {
    opacity: 0.5;
}